
     <div id="filterPanel">
        <div id="filterPanelContainer" class="filterContainer">
          <div id="filterPanel_close" class="PanelClose"></div>
          <% @fliterPanelOptions[:selects].each{|key,value| %>
            <div class="selectContainer"><div class="selectLabel"><%= key.to_s %></div>
              <%= select_tag key.to_s.gsub(' ','') + "Select" , value.
                        collect{|a| '<option value="'+a.to_s.gsub(' ','')+'">'+a.to_s+'</option>'}.join.html_safe %>
            </div>
          <% } %>
          <p></p>
          <% @fliterPanelOptions[:sliderControls].each do |slider,value| %>
              <div id="<%=slider%>_bg" title="<%=slider%> slider">
                  <div id="<%=slider%>_min_thumb">
                    <img src="/flixrmi/images/Silder_assets/l-thumb-round.gif">
                  </div>
                  <div id="<%=slider%>_max_thumb">
                    <img src="/flixrmi/images/Silder_assets/r-thumb-round.gif">
                  </div>
              </div>
              <p> <%=value[:Label]%>: <span id="<%=slider%>_rangeOutput"></span></p>
          <% end -%>
          <p><button id="filter_goBtn">Go</button></p>
        </div>
      </div>